.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #FFFF00;
    }

#footer1 {
    background: #B0C4DE;
}

#footer2 {
    background: #4682B4;
}
.bg {
    background-image:url("../images/background.jfif");
    background-repeat:no-repeat;
    background-size:cover;
}
.form-container {
    background-image: url("../images/background.jfif");
    opacity:0.9;
    margin-top: 20vh;
    padding: 50px 60px;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}
h3{
    color: white;
    font-weight:700;
    font-size: xx-large;
}

